{% extends'base.html.twig' %}

{% block body %}
    <h1>Inscription sur le site Le mauvais Coin</h1>

    {{ form_start(formInscription) }}



    <button type="submit" class="btn btn-success">Valider l'inscription</button>

    {{ form_end(formInscription) }}

{% endblock %}