/*
#03A6A6
#026773
#012340
#3E5902
#888C03
 */
body{
    background-color: #e7e7e7;
}
h1{
    color: #012340;
    font-weight: bold;
    text-align: center;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f8;
    color: white;
    text-align: center;
}
.formulaireNewAnnonce{
    border: black solid 2px;
    margin: 2px;
    padding: 5px;
}
.contenuFormulaireNewAnnonce{
    margin: 5px;
    text-align: center;
}