/*
#03A6A6
#026773
#012340
#3E5902
#888C03
 */
body{
    background-color: #d0d0d0;
}
h1{
    background-color: #03A6A6;
    color: #012340;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
